<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Armor Class</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding armor-class-container" [style.background-image]="'url(/assets/Imagens/Imgp.jpeg)'" [fullscreen]="true">
  <div class="overlay">
    <div class="transparent-bg">
      <ion-card-header>
        <ion-card-title class="Armor">ARMOR CLASS</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <!-- Columna izquierda -->
            <ion-col size="12" size-md="5">
              <ion-card class="stat-block transparent-bg">
                <ion-card-header>
                  <ion-card-title>Bloqueo</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-list>
                    <ion-item *ngFor="let stat of bloqueoStats | keyvalue" class="">
                      <ion-label>{{ stat.key }}</ion-label>
                      <div slot="end" class="stat-value">
                        {{ stat.value }}
                        <div *ngIf="stat.key === 'Total'" class="stat-buttons">
                          <ion-button fill="clear" (click)="incrementStat(bloqueoStats, stat.key)">
                            <ion-icon name="chevron-up-outline"></ion-icon>
                          </ion-button>
                          <ion-button fill="clear" (click)="decrementStat(bloqueoStats, stat.key)">
                            <ion-icon name="chevron-down-outline"></ion-icon>
                          </ion-button>
                        </div>
                      </div>
                    </ion-item>
                  </ion-list>
                </ion-card-content>
              </ion-card>

              <ion-card class="stat-block transparent-bg">
                <ion-card-header>
                  <ion-card-title>Esquivar</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-list>
                    <ion-item *ngFor="let stat of esquivarStats | keyvalue" class="transparent-bg">
                      <ion-label>{{ stat.key }}</ion-label>
                      <div slot="end" class="stat-value">
                        {{ stat.value }}
                        <div *ngIf="stat.key === 'Total'" class="stat-buttons">
                          <ion-button fill="clear" (click)="incrementStat(esquivarStats, stat.key)">
                            <ion-icon name="chevron-up-outline"></ion-icon>
                          </ion-button>
                          <ion-button fill="clear" (click)="decrementStat(esquivarStats, stat.key)">
                            <ion-icon name="chevron-down-outline"></ion-icon>
                          </ion-button>
                        </div>
                      </div>
                    </ion-item>
                  </ion-list>
                </ion-card-content>
              </ion-card>
            </ion-col>

            <!-- Contenido central -->
            <ion-col size="12" size-md="2" class="ion-text-center">
              <div class="character-selection">
                <ion-text color="primary">Alias:</ion-text>
                <ion-input [(ngModel)]="alias" class="alias-input"></ion-input>
                
                <div class="character-avatars">
                  <div *ngFor="let char of characters; let i = index" 
                       [class.selected]="selectedCharacter === i"
                       (click)="selectCharacter(i)"
                       class="character-avatar">
                    <img [src]="char" [alt]="'Character ' + (i + 1)">
                  </div>
                </div>

                <ion-text color="primary">Id Jugador</ion-text>
                <ion-input [value]="playerId" readonly class="player-id"></ion-input>
              </div>
            </ion-col>

            <!-- Columna derecha -->
            <ion-col size="12" size-md="5">
              <ion-card class="stat-block transparent-bg">
                <ion-card-header>
                  <ion-card-title>Hit Points</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-list>
                    <ion-item *ngFor="let stat of hitPointsStats | keyvalue" class="transparent-bg">
                      <ion-label>{{ stat.key }}</ion-label>
                      <div slot="end" class="stat-value">
                        {{ stat.value }}
                        <div *ngIf="stat.key === 'Total'" class="stat-buttons">
                          <ion-button fill="clear" (click)="incrementStat(hitPointsStats, stat.key)">
                            <ion-icon name="chevron-up-outline"></ion-icon>
                          </ion-button>
                          <ion-button fill="clear" (click)="decrementStat(hitPointsStats, stat.key)">
                            <ion-icon name="chevron-down-outline"></ion-icon>
                          </ion-button>
                        </div>
                      </div>
                    </ion-item>
                  </ion-list>
                </ion-card-content>
              </ion-card>

              <ion-card class="stat-block transparent-bg">
                <ion-card-header>
                  <ion-card-title>Ataque</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-list>
                    <ion-item *ngFor="let stat of ataqueStats | keyvalue" class="transparent-bg">
                      <ion-label>{{ stat.key }}</ion-label>
                      <div slot="end" class="stat-value">
                        {{ stat.value }}
                        <div *ngIf="stat.key === 'Total'" class="stat-buttons">
                          <ion-button fill="clear" (click)="incrementStat(ataqueStats, stat.key)">
                            <ion-icon name="chevron-up-outline"></ion-icon>
                          </ion-button>
                          <ion-button fill="clear" (click)="decrementStat(ataqueStats, stat.key)">
                            <ion-icon name="chevron-down-outline"></ion-icon>
                          </ion-button>
                        </div>
                      </div>
                    </ion-item>
                  </ion-list>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="bonificador">
          <ion-text color="primary">Bonificador por Competencias</ion-text>
          <ion-badge color="primary">{{ bonificadorCompetencias }}</ion-badge>
        </div>

        <ion-button expand="block" (click)="saveCharacter()">Guardar</ion-button>
      </ion-card-content>
    </div>
  </div>
</ion-content>