<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Armor Class</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding armor-class-container" [style.background-image]="'url(/assets/Imagens/Imgp.jpeg)'" [fullscreen]="true">
  <div class="overlay">
    <div class="transparent-bg"> 
      <ion-card-header> 
        <ion-card-title class="Armor">Armor Class</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-md="5">
              <ion-card class="stat-block transparent-bg">
                <ion-card-header>
                  <ion-card-title>Bloqueo</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-list>
                    <ion-item *ngFor="let stat of bloqueoStats | keyvalue">
                      <ion-label>{{ stat.key }}</ion-label>
                      <ion-input *ngIf="stat.key !== 'Total'" type="number" [value]="stat.value" 
                      (ionChange)="onInputChange($event, 'bloqueo', stat.key)" min="0" max="11"></ion-input>
                      <ion-text *ngIf="stat.key === 'Total'">{{ stat.value }}</ion-text>
                    </ion-item>
                  </ion-list>
                </ion-card-content>
                <ion-button expand="block" (click)="goToDetailPage('bloqueo')">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-button>
              </ion-card>

              <ion-card class="stat-block transparent-bg">
                <ion-card-header>
                  <ion-card-title>Esquivar</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-list>
                    <ion-item *ngFor="let stat of esquivarStats | keyvalue">
                      <ion-label>{{ stat.key }}</ion-label>
                      <ion-input *ngIf="stat.key !== 'Total'" type="number" [value]="stat.value" 
                                 (ionChange)="onInputChange($event, 'esquivar', stat.key)" min="0" max="11"></ion-input>
                      <ion-text *ngIf="stat.key === 'Total'">{{ stat.value }}</ion-text>
                    </ion-item>
                  </ion-list>
                </ion-card-content>
                <ion-button expand="block" (click)="goToDetailPage('bloqueo')">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-button>
              </ion-card>
            </ion-col>

            <ion-col size="12" size-md="2" class="ion-text-center">
              <div class="character-selection">
                <ion-text color="primary">Alias:</ion-text>
                <ion-input [(ngModel)]="alias" class="alias-input"></ion-input>
                
                <div class="character-avatar">
                  <img [src]="characterImage" alt="Character Avatar">
                </div>

                <ion-text color="primary">Id Jugador</ion-text>
                <ion-input [value]="playerId" readonly class="player-id"></ion-input>
              </div>
            </ion-col>

            <ion-col size="12" size-md="5">
              <ion-card class="stat-block transparent-bg">
                <ion-card-header>
                  <ion-card-title>Hit Points</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-list>
                    <ion-item *ngFor="let stat of hitPointsStats | keyvalue">
                      <ion-label>{{ stat.key }}</ion-label>
                      <ion-input *ngIf="stat.key !== 'Total'" type="number" [value]="stat.value" 
                                 (ionChange)="onInputChange($event, 'hitPoints', stat.key)" min="0" max="11"></ion-input>
                      <ion-text *ngIf="stat.key === 'Total'">{{ stat.value }}</ion-text>
                    </ion-item>
                  </ion-list>
                </ion-card-content>
                <ion-button expand="block" (click)="goToDetailPage('bloqueo')">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-button>
              </ion-card>

              <ion-card class="stat-block transparent-bg">
                <ion-card-header>
                  <ion-card-title>Ataque</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-list>
                    <ion-item *ngFor="let stat of ataqueStats | keyvalue">
                      <ion-label>{{ stat.key }}</ion-label>
                      <ion-input *ngIf="stat.key !== 'Total'" type="number" [value]="stat.value" 
                                 (ionChange)="onInputChange($event, 'ataque', stat.key)" min="0" max="11"></ion-input>
                      <ion-text *ngIf="stat.key === 'Total'">{{ stat.value }}</ion-text>
                    </ion-item>
                  </ion-list>
                </ion-card-content> <ion-button expand="block" (click)="goToDetailPage('bloqueo')">
                  <ion-icon name="add-outline"></ion-icon>
                </ion-button>

              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <div class="bonificador">
          <ion-text color="primary">Bonificador por Competencias</ion-text>
          <ion-badge color="primary">{{ bonificadorCompetencias }}</ion-badge>
        </div>

        <ion-button expand="block" (click)="saveCharacter()">Guardar</ion-button>
      </ion-card-content>
    </div>
  </div>
</ion-content>