<ion-header [translucent]="true">
  <!--<ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons> 
    <ion-title>Menu</ion-title>
  </ion-toolbar>-->
</ion-header>

<ion-content class="login-background" [fullscreen]="true" >
  <img class="espada" src="/assets/Imagens/Espadas.png" alt="Logo" (click)="home()">
  <div class="background-image"></div>
    <!-- Contenedor principal del formulario de login -->
<div class="login-container">

  <ion-card>
    <ion-card-header class="header-container">
      <ion-card-title class="login-title">Iniciar Sesión</ion-card-title>
      <img class="Logo" src="/assets/Imagens/logoremi.png" alt="Logo">
    </ion-card-header>

    <ion-card-content>
      <!-- Campo de usuario -->
      <div class="card">
        <ion-item class="input-item">
          <ion-icon name="person-circle-outline" slot="start"></ion-icon>
          <ion-input [(ngModel)]="usuario" placeholder="Usuario" type="text"></ion-input>
        </ion-item>
      </div>
      <div class="card">
        <!-- Campo de contraseña -->
        <ion-item class="input-item">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input [(ngModel)]="clave" placeholder="Contraseña" type="password"></ion-input>
        </ion-item>
      </div>

      <!-- ROL master o jugador -->

      <!-- Texto para registro -->
      <div class="register-text">
        <p>No tienes una cuenta?</p>
        <br>
        <a (click)="goToRegister()">Crear Cuenta</a>
      </div>

      <!-- Botón de Iniciar Sesión 
      <div class="iniciar">
        <ion-button class="login-button" fill="clear" size="default" (click)="login()">Iniciar</ion-button>
      </div> -->

            <!-- HTML !-->
      <button class="button-13" role="button" (click)="login()">
        <span class="text">Iniciar</span>
        <span class="button-13-background"></span>
        <span class="button-13-border"></span>

        <!-- mask-border fallback -->
        <svg style="position: absolute;" width="0" height="0">
          <filter id="remove-black-button-13" color-interpolation-filters="sRGB">
            <feColorMatrix type="matrix" values="1 0 0 0 0
                      0 1 0 0 0
                      0 0 1 0 0
                      -1 -1 -1 0 1" result="black-pixels"></feColorMatrix>
            <feComposite in="SourceGraphic" in2="black-pixels" operator="out"></feComposite>
          </filter>
        </svg>
      </button>

    </ion-card-content>
  </ion-card>
</div>
</ion-content>
