<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil" text="Atrás"></ion-back-button>
    </ion-buttons>
    <ion-title>Habilidades</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToHome()">
        <ion-icon name="log-out-outline"></ion-icon>
        Salir
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="skills-content">
  <div class="skills-container">
    <div class="background-image"></div>
    
    <div class="skills-list">
      <div class="skill-item" *ngFor="let skill of data.habilidades">
        <div class="skill-icon">
          <ion-icon [name]="obtenerIconoAleatorio() + '-outline'"></ion-icon>
        </div>
        <div class="skill-info">
          <h3>{{ skill.habilidad }}</h3>
          <div class="skill-status" [class.unlocked]="skill.bloqueado"> 
            {{ skill.bloqueado ? 'Desbloqueado' : 'Bloqueado' }}
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>