<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>Habilidades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="skills-content">
  <div class="skills-container">
    <div class="background-image"></div>
    
    <div class="skills-list">
      <div class="skill-item" *ngFor="let skill of skills">
        <div class="skill-icon">
          <ion-icon [name]="skill.icon + '-outline'"></ion-icon>
        </div>
        <div class="skill-info">
          <h3>{{ skill.name }}</h3>
          <div class="skill-status" [class.unlocked]="skill.unlocked">
            {{ skill.unlocked ? 'Desbloqueado' : 'Bloqueado' }}
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>