<ion-header [translucent]="true">
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

    <ion-title>Jugadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="login-background" [fullscreen]="true" >
  <div class="background-image"></div>
    <!-- Contenedor principal del formulario de login -->
    <div class="player-container">

      <div class="Player">
        <div class="tituloid">
          <span>Id Jugador</span>
        </div>

        <div class="imgn">
          <ion-icon name="caret-down-outline" class="icon"></ion-icon>
          <img src="assets/p4.png" alt="Jugador" class="player-image">
        </div>
      </div>

      <div class="Player">
        <div class="tituloid">
          <span>Id Jugador</span>
        </div>

        <div class="imgn">
          <ion-icon name="caret-down-outline" class="icon"></ion-icon>
          <img src="assets/p2.png" alt="Jugador" class="player-image">
        </div>
      </div>

      <div class="Player">
        <div class="tituloid">
          <span>Id Jugador</span>
        </div>

        <div class="imgn">
          <ion-icon name="caret-down-outline" class="icon"></ion-icon>
          <img src="assets/p6.png" alt="Jugador" class="player-image">
        </div>
      </div>

      <div class="Player2">
        <div class="tituloid">
          <span>Id Jugador</span>
        </div>

        <div class="imgn2">
          <ion-icon name="caret-down-outline" class="icon"></ion-icon>
          <ion-icon name="add-sharp" class="mas"></ion-icon>
        </div>
      </div>

    </div>
</ion-content>
