<ion-header [translucent]="true">
    <!--<ion-toolbar>
    <ion-title>
      Reminis
    </ion-title>
  </ion-toolbar>-->
</ion-header>

<ion-content [fullscreen]="true">
  <div class="register-container">
    <!-- Imagen de fondo -->
    <div class="background-image">
      <img src="/assets/Imagens/Imgp.jpeg" alt="Background Image">
    </div>
    <!-- Título de la aplicación -->
    <div class="title">
      <h1>Reminiscencias</h1>
    </div>
  
    <!-- Botón para iniciar sesión -->
    <div class="button-container" routerLink="/Log/login">
      <a fill="outline" (click)="goToLoginPage()">Iniciar Sesión</a>
    </div>
  </div>
</ion-content>
