ion-content {
    background: #22211f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; /* La imagen estará en el fondo */
    background-size: cover;
}

.background-image img {
    width: 100%;
    height: 99%;
    /* object-fit: cover; Cubre todo el fondo */
}

.options-container{
    display: flex;
    flex-direction: column; /* Coloca los elementos verticalmente */
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    height: 100vh; /* Hace que el contenedor ocupe toda la pantalla */
    z-index: 1; /* Coloca el contenedor principal por encima del fondo */
}

.title {
    text-align: center;
    font-size: 10px;
    color: #f8f9fa; /* Blanco */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.title h1{
    border-radius: 10px;
    padding: 6px;
    text-shadow: 3px 2px 10px #000000;
}

.button-container {
    display: flex;
    flex-direction: column;/* Los botones se organizan verticalmente */
    justify-content: center;
    margin-top: 200px;
    align-items: center;
    gap: 10px; /* Espacio entre los botones */
    cursor: pointer;
}

.button-container a {
    font-size: 25px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    width: 200px;
    background:transparent; /* Color del botón */
    border-radius: 10px;
    box-shadow: none; /* Elimina sombra */
    color: #ffeeaf; /* Color del texto       background: #22211f5d;*/
    position: relative; /* Posiciona relativo para poder mostrar la imagen */
    transition: all 0.3s ease-in-out; /* Transición al hacer hover */
    overflow: hidden; /* Ocultar elementos fuera del borde del botón */
    z-index: 1;
}

.button-container a:hover{
    color:rgb(255, 218, 116);
    text-shadow: 3px 2px 10px #000000;
}

/* Imagen al hacer hover sobre los botones */
.button-container a:hover::after {
    content: ''; /* Pseudo-elemento vacío para la imagen */
    position: absolute;
    left: 8%;
    transform: translate(-50%, 50%); /* Centrar la imagen horizontalmente */
    width: 35px; /* Tamaño de la imagen */
    height: 35px;
    background: url('/assets/Imagens/CASCO.png') no-repeat center center fixed; /* Ruta de la imagen */
    background-size: cover; /* Ajusta la imagen al contenedor */
    background-repeat: no-repeat;
    transition: all 0.3s ease-in-out; /* Transición suave */
    z-index: -1; /* Coloca la imagen detrás del texto del botón */
    top: -20px; /* Mueve la imagen hacia dentro del botón */
}
